# ----------------------------------------
# NPM
# ----------------------------------------

node_modules/
npm-debug.log


# ----------------------------------------
# Nightwatch
# ----------------------------------------

reports/
screenshots/
selenium-debug.log





