<div id="pageShow">
  <h1>Created user</h1>
  <h2 id="firstName">First Name: {{ user.fname }}</h2>
  <h2 id="lastName">Last Name: {{ user.lname }}</h2>
  <h2 id="email">Email: {{ user.email }}</h2>
</div>